.cille-parallax{
  position: relative;
  width: 100%;
  height: 49rem;           /* lidt lavere højde */
  background: #E8E8E8;
  overflow: hidden;
  margin-bottom: 3rem;
}

/* basis for alle elementer */
.parallax-img{
  position: absolute;
  width: 200px;
  height: auto;
  will-change: transform;
  transition: transform 0.08s linear;
}

/* tættere placeringer */
.img1{ top: -10%; left: 10%; }
.img2{ top: 5%; left: 30%; }
.img3{top: 0%; left: 55%; }
.img4{ top: 5%; left: 75%; }

