.hero {
  display: flex;
  flex-direction: column;
  align-items: center;    /* centrerer horisontalt */
  justify-content: flex-start; /* rykker op i toppen */
  height: 50vh;      /* fylder hele skærmen */
  padding-top: 1rem;      /* luft under header */
  text-align: center;
}

.hero h1 {
  font-family: "Modak", system-ui, sans-serif;
  font-weight: 400;   /* Regular */
  letter-spacing: 0;
  line-height: 1;
  color:#354F41;
  font-size: clamp(138px, 10vw, 120px);
  text-align: center;
  margin: 68px 0 4px;
}

.hero p {
   font-family: "Poppins", system-ui, sans-serif;
  font-weight: 200;                 /* ExtraLight */
  font-size: clamp(14px, 1.6vw, 18px);  /* matcher din Welcome-subheading */
  line-height: 1.7;
  color: var(--ink-soft);
  margin-top: -35px;                        /* nulstil H2 default-margin */
  margin-right: 480px;
}
