.info-section {
  position: relative;
  width: 100%;
  height: 100vh; /* fylder hele skærmen */
  overflow: hidden;
  margin-top: -65px; /* juster hvis der er en header */
}

.info-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* sørger for at billedet dækker hele sektionen */
  display: block;
}

/* Tekstboks ovenpå */
.info-textbox {
  position: absolute;
  top: 0%; /* ryk ned fra toppen */
  left: 30%;
  transform: translateX(-50%);
  max-width: 600px;
  padding: 2rem;
  border-radius: 12px;
  text-align: center;
  z-index: 1;
}

.info-textbox h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.info-textbox h3 {
  font-family: "Poppins", system-ui, sans-serif;
  font-weight: 200;
  font-size: 1.45rem;
  line-height: 1.6;
  color: #333;
}
